    p {
        font-size:15px;
        font-family:courier;
        color: white;
    
    }
    body {
    background-image: url('Images/Chill.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    }
    h1 {
    text-align:center;
    color: white;
    }
    .font-effect-fire {
        text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.2em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1em #F40;
        color: #ffe;
    }
    a {
        border-style:none;
    }