body {
    margin: 0px;
    padding:0px;
   
}
.navigation {
    margin:0px;
    padding:0px;

}
.navigation ul {
    padding:0px;
    margin:0px;
    list-style-type: none;
    background-color: aquamarine;
    text-align: center;
    overflow: hidden;
}
.navigation li {
   display:block;
   padding: 15px;
   font-weight: bold;
   float:left;
   

}
.navigation li:hover {
    background-color: rgb(50, 143, 112);
    cursor:pointer;
}
.hehe {
    text-align: center;
}

